header {
	padding: 20px 3.2rem;
	position: absolute;
	top: 0;
	left: 0;
	height: 100px;
	z-index: 4;
	color: #fff;
	width: 100%;
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.logo {
		display: flex;
		align-items: center;
		&:hover {
			opacity: 0.8;
		}

		svg {
			width: 60px;
			height: 60px;
			margin-right: 10px;
			//   stroke: $color-primary;
		}
		h1 {
			margin: 0;
			font-size: 25px;
		}
	}
}
